.fs__blog {
  display: flex;
  flex-direction: column;
}

.fs__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.fs__blog-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.fs__blog-container {
  display: flex;
  flex-direction: row;
}

.fs__blog-container_card {
  width: 100%;
  max-width: 20rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.fs__blog-container_card-image {
  width: 100%;
  height: 24rem;
}

.fs__blog-container_card-content {
  padding: 1rem;
  color: var(--gradient_text);
}

.fs__blog-container_card-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.921);
}

.fs__blog-container_card-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

@media (max-width: 768px) {
  .fs__blog-container {
    flex-direction: column;
  }

  .fs__blog-container_card {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
